
			#logo1 {
				    width: 150px;
				    margin-left: 10%;
			}
			 #SearchB {
			 	margin-left: 1%;
				border: 2px solid #ccc;
     				border-radius: 10px;
			 	
			 }
			 
		    	#Search {
		    		margin-left: 20%;
		    		
		    	}

			#AppName {
				text-align: right;
				margin-left: 20%;
				width: 150px;
			}

			header {
				position: center;
			    	width: 100%;
			    	background-color: rgba(255, 255, 255, 0.5);
			    	border: 2px teal solid;
				
			}

			nav {
				position: right;
				margin-right: 10%;
				font-weight: normal;
				text-transform: uppercase;
				display: inline-block;
				text-align: right;
				}

			nav ul {
				list-style-type: none;
				
			}

			nav li {
				display: inline-block;
				margin-right: 15px;
				
			}

			nav a {
				font-size: 1.3em;
			    	color: #181818;
			    	padding-bottom: 3px;
			    	text-decoration: none;
				
			}

			nav a:hover {
				color: teal;
			    	border-bottom: 3px solid teal;
			
				
			}

			#bloc_page {
				width: 900px;
			    	margin: auto;

			}
			
			#artc {
				display: flex;
			
				
			}



			body
			{
			    background-image: url("StudentsOutside.jpg");
			    background-attachment: fixed; /* Le fond restera fixe */
			    font: 75% georgia, sans-serif;
				line-height: 1.88889;
				
			}

		aside {
			width: 50% ;  
			text-align: justify;
			background-color: rgba(255, 255, 255, 0.5);
			padding: 10px 20px 10px;
			margin-top: 2.6% ;
			margin-bottom: 5%;
			border: 2px teal solid;

			}
		h3 {
			margin-top: 20%;
			color: red;
			
		}

		#articles {
			width: 50%;
			position: right;
			
		}


		#desc {
			margin-top: 5%;
			margin-bottom: 5%;
			margin-right: 5%;
			margin-left: 5%;
			color: white;
			padding: 15px;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.4);
			
		}
			
		#video{

		}

		
			 article input {
				clear: both;
				border: 1px black; 
				border-radius:5px; 
				text-align:center; 
				box-shadow:0 0 6px;
			 	
			 }

			


			article {
				border-left: 3px solid;
				margin-left: 2%;
				margin-right: 2%;
				text-align: center;
			    	background-color: rgba(255, 255, 255, 0.5);
				padding: 17px 20px 020px;
				margin-top: 5%;
				border: 2px teal solid;
				
			}
			
			
			article h2 {
				font-family: Cooper Black ;
			}
			form p {
				font-family: Cooper Black ;
			}
			.image1 {
				
  			width: 50%; /* half-width */
  			margin-right: 20px;
  			margin-top: 50px;
  			margin-bottom: 40px;

    		height:200px;
			}
			   video {	
		

            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 3s;
            
           
        }
/*
	#button-next {
			 width: 350px;
    height: 100px;
background-image: url("next.jpg");
}

		#button-previous {
			 width: 350px;
    height: 100px;
background-image: url("previous.jpg");
 
}*/
			#button-next {
						
							background color: teal ;
							clear: both;
							border: 1px black; 
							border-radius:5px; 
							text-align:center; 
							box-shadow:0 0 6px;
			}

							#button-previous {
							background color: teal ;	
							clear: both;
							border: 1px black; 
							border-radius:5px; 
							text-align:center; 
							box-shadow:0 0 6px;
			 
			}
			
			#copyright 
						{ 	
			    	 text-align: center;
			    	 background-color: black ;
					 padding: 17px 20px 020px;
					 margin-top: 0% ;
					 opacity: 0.5 ;
						}

   			#copyright p {
   				color: white ;
   			}	



   			/* new part*/ 
   			@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);


h4 {
    font-size: 21px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    background: #d2d2d2;
    color: white;
    font-weight: 700;
    padding: 3px 0;
}



span {
    display: block;
    font-size: .75em;
    font-style: italic;
    position: relative;
    top: 5px;
}

.multi {
    display: inline;
    top: 0;
    left: 3px;
}


.programs,
.courses {
    margin: 8px 0 0 0;
}

.programs {
    font-size: 0;
    margin-bottom: 15px;
}

.programs button {
    outline: none;
    margin-bottom: 0;
    background: whitesmoke;
    width: 50%;
    height: auto;
    font-weight: normal;
    border: 1px solid #ededed;
    color: #000000;
    font-size: 14px;
    padding: 4px 0;
    text-shadow: 0px 0px 0px #2f6627;
}

.programs button:hover {
    background: #99cfe0;
}

.programs button.active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) inset, 0px 0px 1px transparent;
    background: #3a9fbf;
    color: white;
}

.courses {
    margin-bottom: 15px;
    font-size: 0;
    background: whitesmoke;
}

.courses li {
    text-align: center;
    font-size: 14px;
    display: inline-block;
    width: 46%;
    margin: 0 2%;
}

.courses a {
    display: block;
    height: 60px;
    margin: 15px 0;
    padding-top: 12.5px;
    background: whitesmoke;
    color: black;
    border: 1px solid white;
    -webkit-transition: all .4s ease;
            transition: all .4s ease;
}
.courses img {
	width:220px;
	height:228px;
	
	  display: block;
    margin: 15px 0;
    padding-top: 12.5px;
    border: 1px solid white;
}

.courses a:hover {
    background: #99cfe0;
}

.courses .mix-target {
    display: none;
}

.p, .p a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}


/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (min-width: 750px) {

    .container {
        width: 95%;
    }

    .courses a {
        background: #EBEBEB;
        border: none;
    }

    .courses a:hover {
        background: #EBEBEB;
        -webkit-transform: scale(1.15);
            -ms-transform: scale(1.15);
                transform: scale(1.15);
    }

    h4 {
        width: 50%;
        margin-top: 12px;

    }

   

    .programs {
        margin-bottom: 0;
    }

    .programs button {
        width: 25%;
        margin-bottom: 15px;
    }

    .courses li {
        width: 21%;
    }

}


