
body {
/*height: 100%;*/
    background-image: url(StudentsOutside.jpg);
    background-attachment: fixed;
    /*lefondresterafixe*/
    border: 8px solid #000;
    line-height: 1.88889;
    font-family: Cooper Black ;

}

#wrapper .text {
position:relative;
bottom:10%;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
}

#logo1 {
    width: 10%;
    margin-left: 10%;
}

.round{
    border-radius: 5px ;
}
#SearchB {
    width: 10%;
    margin-left: 2%;
    margin-right: 15%;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#Search {
    width: 15%;
   margin-left: 15%;

}
#SearchCenter{
    margin-left: 40%;
    margin-bottom: 2%;
    width: 20%;
    height: 2%;
}
#SearchBC{
    margin-left: 42%;
    margin-bottom: 2%;
    width: 15%;
    height: 2%;
}

#AppName {
    width: 10%;
    margin-right: 5% ;
}

header {
    position: center;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    font-family: Cooper Black ;
}

nav {
    margin-right: 10%;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    text-align: right;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: teal;
    border-bottom: 3px solid teal;
}

.panel {
    background-color: rgba(255,255,255,0.8) !important;
    border: 4px teal solid;
    font-family: Cooper Black;

}
#art{
        width: 90%;
        margin-left: 5%;
        margin-right :5%;
    }


h3 {
    margin-top: 20%;
    font-family: Cooper;
    font-size: 21px;
    color: teal;
}

form{
    margin-bottom: 2% ;
    font-family: Cooper Black;


}
form p {
    font-family: Cooper Black;
}

form p h2 .cooper {
	font-family: Cooper Black;

}

.image1 {
    width: 30%;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 200px;
}

.image {
    position: center;
	width: 80%;
    margin: auto;
	border-color: #000;
}

.formshift {
    position: center;
	width: 25%;
    margin: auto;
	border-color: #000;


}

.panel .image {
	position: center;
	width: 80%;
	margin: auto;
	border-color: #000;
}

 div.panel div.image #google-map {
    position: center;
    width: 80%;
    height: 360px;
	margin: auto;
}




.multi {
    display: inline;
    top: 0;
    left: 3px;
}

.programs,.courses {
    margin: 8px 0 0;
}

.programs {
    font-size: 0;
    margin-bottom: 15px;
}

.programs button {
    outline: none;
    margin-bottom: 0;
    background: #f5f5f5;
    width: 50%;
    height: auto;
    font-weight: 400;
    border: 1px solid #ededed;
    color: #000;
    font-size: 14px;
    padding: 4px 0;
    text-shadow: 0 0 0 #2f6627;
}

.programs button:hover {
    background: #99cfe0;
}

.programs button.active {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5) inset,0 0 1px transparent;
    background: #3a9fbf;
    color: #fff;
}

.courses {
    margin-bottom: 15px;
    font-size: 0;
    background: #f5f5f5;
}

.courses li {
    text-align: center;
    font-size: 14px;
    display: inline-block;
    width: 46%;
    margin: 0 2%;
}

.courses a {
    display: block;
    height: 60px;
    margin: 15px 0;
    padding-top: 12.5px;
    background: #f5f5f5;
    color: #000;
    border: 1px solid #fff;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.courses img {
    width: 220px;
    height: 228px;
    display: block;
    margin: 15px 0;
    padding-top: 12.5px;
    border: 1px solid #fff;
}

.courses a:hover {
    background: #99cfe0;
}

.courses .mix-target {
    display: none;
}

.p,.p a {
    font-family: Cooper;
    font-size: 14px;
    text-align: center;
}

@media only screen and (min-width: 750px) {
    .container {
        width: 95%;
    }

    .courses a {
        background: #EBEBEB;
        border: none;
    }

    .courses a:hover {
        background: #EBEBEB;
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }

h4 {
        width: 50%;
        margin-top: 12px;
    } 
#page2panel{
	width: 100%;
}
   .programs {
        margin-bottom: 0;
    }

    .programs button {
        width: 25%;
        margin-bottom: 15px;
    }

    .courses li {
        width: 21%;
    }
}



#comment {
    background-color: rgba(255,255,255,0.5);
}

.book {
margin-left: 2%;
margin-bottom: 2%;
margin-top: 2%;
    width: 30%;
    height: 20%;
}
#signinbtn{
    margin-bottom: 2% ;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: teal;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: gray;
}

.button:active {
    background-color: teal;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*****************************************************
*************** Flickity Gallery *********************
*****************************************************/
/* brighten selected image */
.image1.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: none;
    filter: none;
}

/* page4 */
#searchContinue:hover {
    background: red;
}

/*****************************************************
*************** comment section  *********************
*****************************************************/
/**** on page4 ****/

.panel .main2 {
	
	width: 80%;
	margin: auto;
}

.panel .main2 #commentator {
	width: 20%;
	margin: auto;
	background-color: #D1AFF7;
	font-size: 15px;
	display:inline-block;
}
.panel .main2 #comment {
	width: 60%;
	margin: auto;
	background-color: #E1EAA7;
	font-size: 15px;
	display:inline-block;

}
/*page2*/
video {    
        

            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 3s;
            
                -moz-transition-property: -moz-transform;
            -moz-transition-duration: 3s;
           
        }

#idvideo {
	width: 50%;
	height: 40%;
}


#copyright {
    text-align: center;
    background-color: #000;
    padding: 17px 20px 20px;
    margin-top: 0;
    opacity: .6;
    width: 100%;
    font-family: Cooper Black ;

}

#copyright p {
    color: #fff;
}

.filter-btn {
	color:gray;
}
